<nz-header style="position:fixed; width:100%; z-index: 10;">
  <div style="width: 100px;height: 31px; float: left; color: #ffffff; font-size: 24px">StevEat</div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;  float: left;">
    <li nz-menu-item (click)="selectPlacesList(0)" [nzSelected]="selectedIndex == 0" routerLink="/user/places">
      Miejsca
    </li>
    <li nz-menu-item (click)="selectPlacesList(1)" routerLink="/user/payments" [nzSelected]="selectedIndex == 1">
      Płatności
    </li>
  </ul>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px; float: right;">
    <li nz-menu-item (click)="selectPlacesList(2)" routerLink="/user/profile" [nzSelected]="selectedIndex == 2">Profil</li>
    <li nz-menu-item (click)="logout()" routerLink="/logout" [nzSelected]="selectedIndex == 3">Wyloguj</li>
  </ul>
</nz-header>
