<div style="margin-bottom: 10px">
  <button nz-button nzType="primary" (click)="editMenuElement.open()">Dodaj pozycję do menu</button>
</div>
<nz-table #basicTable [nzData]="dataList">
  <thead>
  <tr>
    <th>Lp.</th>
    <th>Nazwa</th>
    <th>Opis</th>
    <th>Cena</th>
    <th>Usunięty</th>
    <th>Alergeny</th>
    <th>Akcja</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data; let i = index">
    <td>{{i + 1}}</td>
    <td>{{data.name}}</td>
    <td>{{data.description}}</td>
    <td>{{data.price}}</td>
    <td>{{data.deleted}}</td>
    <td>{{data.allergens.length == 0 ? 'Brak' : getAllergensString(data.allergens)}}</td>
    <td>
      <a (click)="editMenuElement.openWithModel(data)">Zmień</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>Usuń</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<app-edit-menu-element #editMenuElement (refresh)="refreshElements()"></app-edit-menu-element>
