<div style="margin-bottom: 10px">
  <app-send-firebase-notification (onRefresh)="refreshMessages()"></app-send-firebase-notification>
</div>
<nz-table #basicTable [nzData]="dataList">
  <thead>
  <tr>
    <th>Lp.</th>
    <th>Tytuł</th>
    <th>Treść</th>
    <th>Data</th>
    <th>Poziom</th>
    <th>Wysyłający</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data; let i = index">
    <td>{{i + 1}}</td>
    <td>{{data.title}}</td>
    <td>{{data.content}}</td>
    <td>{{data.created | date: 'yy-dd-MM H:mm'}}</td>
    <td>{{data.level == 'ONLY_SPECIAL' ? 'Zainteresowani' : 'Wszyscy'}}</td>
    <td>markowanga@gmail.com</td>
  </tr>
  </tbody>
</nz-table>
