<div style="margin-bottom: 10px">
  <button nz-button nzType="default" (click)="placeEdit.createOpen()" style="margin-right: 10px">Dodaj nowe miejsce</button>
  <button nz-button nzType="default" (click)="addDialog.show()" style="margin-right: 10px">Dołącz do miejsca</button>
</div>
<nz-table #basicTable [nzData]="places">
  <thead>
  <tr>
    <th>Lp.</th>
    <th>Nazwa</th>
    <th>Status</th>
    <th>Adres</th>
    <th>Telefon</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data; let i = index" routerLink="/user/place/{{data.id}}/mainPage">
    <td>{{i + 1}}</td>
    <td>{{data.name}}</td>
    <td>{{data.active ? 'Aktywny' : 'Nieaktywny'}}</td>
    <td>{{data.address.prettyString()}}</td>
    <td>{{data.phoneNumber}}</td>
  </tr>
  </tbody>
</nz-table>
<app-join-to-place-dialog #addDialog (refresh)="refreshPlaces()"></app-join-to-place-dialog>
<app-place-edit #placeEdit></app-place-edit>
