<button nz-button nzType="primary" (click)="categoryEdit.open()" style="margin-bottom: 10px">Dodaj kategorię</button>
<nz-table #basicTable [nzData]="dataList">
  <thead>
  <tr>
    <th>Lp.</th>
    <th>Nazwa</th>
    <th>Opis</th>
    <th>Status</th>
    <th>Akcja</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data; let i = index">
    <td>{{i + 1}}</td>
    <td>{{data.name}}</td>
    <td>{{data.description}}</td>
    <td>{{data.active ? 'Aktywny' : 'Nieaktywny'}}</td>
    <td>
      <a (click)="categoryEdit.openEdit(data)">Edytuj</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a
        nz-popconfirm
        nzTitle="Czy na pewno chcesz usunąć kategorię?"
        nzOkText="Tak"
        nzCancelText="Anuluj"
        (nzOnConfirm)="deleteCategory(data.id)">Usuń</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<app-category-edit #categoryEdit (refresh)="refreshList()"></app-category-edit>
