<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="false" [nzWidth]="600" [nzVisible]="visible"
           nzTitle="{{isElementCreating() ? 'Dodaj pozycję w menu' : 'Edytuj pozycję do menu'}}"
           (nzOnClose)="close()">
  <form nz-form [formGroup]="validateForm">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Nazwa</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="name" placeholder="Proszę podać nazwę">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Aktywne</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="isActive"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>Cena (opcjonalnie)</nz-form-label>
          <nz-form-control>
            <nz-input-group nzAddOnAfter="zł">
              <nz-input-number nz-input [nzMin]="0" [nzMax]="10000" formControlName="price"
                               [nzStep]="1" [nzPlaceHolder]="'Digital'"></nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Krótki opis</nz-form-label>
          <nz-form-control>
            <textarea formControlName="description" nz-input placeholder="Proszę podać krótki opis" rows="2"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">

    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Alergeny</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="allergens" style="width: 100%" nzMode="multiple"
                       nzPlaceHolder="Proszę wybrać alergeny">
              <nz-option *ngFor="let option of listOfAllergens" [nzLabel]="option.name"
                         [nzValue]="option.key"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Anuluj</span></button>
    <button nz-button nzType="primary" (click)="submitMenuElement()"
            [nzLoading]="isButtonLoading">{{isElementCreating() ? 'Dodaj' : 'Zapisz'}}</button>
  </div>
</nz-drawer>
