<nz-layout class="layout" style="min-height: 100%">
  <app-logged-header></app-logged-header>
  <nz-layout style="margin-top:64px;">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" style="padding:25px; background-color: white">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixUser">
            <input type="text" nz-input formControlName="userName" placeholder="Email">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please
            input your username!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixLock">
            <input type="password" nz-input formControlName="password" placeholder="Hasło">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please
            input your Password!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="margin-bottom: 0">
        <nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>Zapamiętaj mnie</span>
          </label>
          <a class="login-form-forgot" class="login-form-forgot">Zapomniałem hasła</a>
          <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
          Lub <a href="">zarejestruj teraz!</a>
        </nz-form-control>
      </nz-form-item>
    </form>
    <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  </nz-layout>
</nz-layout>
