<nz-modal [(nzVisible)]="isVisible" nzTitle="Dołącz do miejsca" (nzOnCancel)="handleCancel()"
          [nzOkLoading]="isButtonLoading" (nzOnOk)="handleOk()">
  <form nz-form [formGroup]="validateForm">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Identyfikator miejsca</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="placeId" placeholder="Proszę podać identyfikator">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Klucz dołączenia</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="placeKey" placeholder="Proszę podać klucz">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>
