<button nz-button nzType="primary" (click)="open()">Dodaj ogłoszenie</button>
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="false" [nzWidth]="600" [nzVisible]="visible" nzTitle="Dodaj ogłoszenie"
           (nzOnClose)="close()">
  <form nz-form [formGroup]="validateForm">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Tytuł</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="title" placeholder="Proszę podać tytuł ogłoszenia">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Aktywne</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="isActive"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Treść</nz-form-label>
          <nz-form-control>
            <textarea formControlName="content" nz-input placeholder="Proszę podać treść" rows="4"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Anuluj</span></button>
    <button nz-button nzType="primary" (click)="addAnnouncement()" [nzLoading]="isButtonLoading">Dodaj</button>
  </div>
</nz-drawer>
