<nz-layout class="layout" style="min-height: 100%">
  <app-logged-header></app-logged-header>
  <nz-layout style="padding:0 50px;margin-top:64px;">
    <app-place-sider-menu *ngIf="screenType == 'place'"></app-place-sider-menu>
    <nz-layout [ngStyle]="{'margin-left.px': screenType == 'place' ? '220' : '0', 'padding.px': screenType == 'place' ? '0' : '0 100'}">
      <app-breadcrumb-bar></app-breadcrumb-bar>
      <nz-content style="background:#fff; padding: 24px;">
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer style="text-align: center;">StevEat ©2019 Implement By TheLiverBoy</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
