<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="false" [nzWidth]="600" [nzVisible]="visible"
           nzTitle="{{isCreating() ? 'Dodaj miejsce' : 'Edytuj miejsce'}}"
           (nzOnClose)="close()">
  <form nz-form [formGroup]="validateForm">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Nazwa</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="name" placeholder="Proszę podać nazwę miejsca">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Aktywna</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="isActive"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Opis (opcjoanlnie)</nz-form-label>
          <nz-form-control>
            <textarea formControlName="description" nz-input placeholder="Proszę podać opis" rows="4"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="14">
        <nz-form-item>
          <nz-form-label>Adres</nz-form-label>
          <nz-form-control>
            <input formControlName="street" nz-input placeholder="Ulica">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="10">
        <nz-form-item>
          <nz-form-control style="padding-top: 39px">
            <input formControlName="number" nz-input placeholder="Numer">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="10">
        <nz-form-item>
          <nz-form-control>
            <input formControlName="postalCode" nz-input placeholder="Kod pocztowy">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="14">
        <nz-form-item>
          <nz-form-control>
            <input formControlName="city" nz-input placeholder="Miejscowość">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Telefon</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="phoneNumber" placeholder="Proszę podać nazwę miejsca">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>E-mail</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="email" placeholder="Proszę podać nazwę miejsca">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Strona internetowa</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="webSite" placeholder="Proszę podać nazwę miejsca">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Facebook</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="facebook" placeholder="Proszę podać nazwę miejsca">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Twitter</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="twitter" placeholder="Proszę podać nazwę miejsca">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Pyszne.pl</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="pysznePl" placeholder="Proszę podać nazwę miejsca">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Pizza Portal</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="pizzaPortal" placeholder="Proszę podać nazwę miejsca">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Anuluj</span></button>
    <button nz-button nzType="primary" (click)="submit()"
            [nzLoading]="isButtonLoading">{{isCreating() ? 'Dodaj' : 'Zapisz'}}</button>
  </div>
</nz-drawer>
