<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="false" [nzWidth]="600" [nzVisible]="visible"
           nzTitle="{{isCreating() || isCopying() ? 'Dodaj okres' : 'Edytuj okres'}}"
           (nzOnClose)="close()">
  <form nz-form [formGroup]="validateForm">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Etykieta</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="categoryId" style="width: 100%" nzAllowClear nzShowSearch
                       nzPlaceHolder="Proszę wybrać kategorię">
              <nz-option *ngFor="let category of categories" [nzLabel]="category.name"
                         [nzValue]="category.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label>Czas obowiązywania</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="timeVariant" [(ngModel)]="timeVariant">
              <nz-option nzLabel="Jeden dzień" nzValue="ONE_DAY"></nz-option>
              <nz-option nzLabel="Okres" nzValue="MORE_THAN_ONE_DAY"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="16">
        <nz-form-item>
          <nz-form-label>{{timeVariant === 'MORE_THAN_ONE_DAY' ? 'Okres obowiązywania' : 'Dzień obowiązywania'}}</nz-form-label>
          <nz-form-control>
            <nz-date-picker *ngIf="timeVariant !== 'MORE_THAN_ONE_DAY'" formControlName="timeSingle"></nz-date-picker>
            <nz-range-picker *ngIf="timeVariant === 'MORE_THAN_ONE_DAY'" formControlName="timeRange"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Elementy</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="menuElements" style="width: 100%" nzAllowClear nzShowSearch nzMode="multiple"
                       nzPlaceHolder="Proszę wybrać elementy">
              <nz-option *ngFor="let element of menuElements" [nzLabel]="element.name"
                         [nzValue]="element.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Anuluj</span></button>
    <button nz-button nzType="primary" (click)="submit()"
            [nzLoading]="isButtonLoading">{{isCreating() || isCopying() ? 'Dodaj' : 'Zapisz'}}</button>
  </div>
</nz-drawer>
