<nz-sider [nzWidth]="220" style="background:#fff; overflow: auto; height: 100vh; position: fixed; left: 0">
  <ul nz-menu [nzMode]="'inline'" style="height:100%">
    <li nz-menu-item (click)="openPage('mainPage')">
      <span title><i nz-icon type="home"></i>Miejsce</span>
    </li>
    <li nz-menu-item (click)="openPage('announcement')">
      <span title><i nz-icon type="notification"></i>Ogłoszenia</span>
    </li>
    <li nz-menu-item (click)="openPage('categoryList')">
      <span title><i nz-icon type="folder"></i>Etykiety menu</span>
    </li>
    <li nz-menu-item (click)="openPage('servedMeals')">
      <span title><i nz-icon type="calendar"></i>Menu na dni</span>
    </li>
    <li nz-menu-item (click)="openPage('menuElement')">
      <span title><i nz-icon type="bars"></i>Pozycje menu</span>
    </li>
    <li nz-menu-item (click)="openPage('members')">
      <span title><i nz-icon type="team"></i>Członkowie</span>
    </li>
    <li nz-menu-item (click)="openPage('messages')">
      <span title><i nz-icon type="message"></i>Wysłane wiadomości</span>
    </li>
  </ul>
</nz-sider>
