<div nz-row>
  <button nz-button nzType="primary" (click)="placeEdit.editOpen(placeModel)" style="margin-bottom: 10px">
    Edytuj miejsce
  </button> <br>
  <div nz-col nzSpan="12">
    <app-data-row [name]="'Nazwa'" [value]="placeModel.name"></app-data-row>
    <app-data-row [name]="'Opis'" [value]="getLabel(placeModel.description)"></app-data-row>
    <app-data-row [name]="'Adres'" [value]="placeModel.address.prettyString()"></app-data-row>
    <app-data-row [name]="'Telefon'" [value]="placeModel.phoneNumber"></app-data-row>
    <app-data-row [name]="'Strategia alergenów'" [value]="placeModel.getPrettyAllergenStrategy()"></app-data-row>
    <app-data-row [name]="'Status'" [value]="placeModel.active ? 'Aktywny' : 'Niekatywny'"></app-data-row>

  </div>
  <div nz-col nzSpan="12">
    <app-data-row [name]="'Strona internetowa'" [value]="getLabel(placeModel.website)"></app-data-row>
    <app-data-row [name]="'Facebook'" [value]="getLabel(placeModel.facebookPage)"></app-data-row>
    <app-data-row [name]="'Twitter'" [value]="getLabel(placeModel.twitterPage)"></app-data-row>
    <app-data-row [name]="'Pyszne.pl'" [value]="getLabel(placeModel.pysznePlPage)"></app-data-row>
    <app-data-row [name]="'Pizza Portal'" [value]="getLabel(placeModel.pizzaPortalPage)"></app-data-row>
  </div>
</div>
<agm-map *ngIf="placeModel.name != ''" [latitude]="placeModel.address.latitude"
         [longitude]="placeModel.address.longitude">
  <agm-marker [latitude]="placeModel.address.latitude" [longitude]="placeModel.address.longitude"></agm-marker>
</agm-map>
<app-place-edit #placeEdit (refresh)="getPlace()"></app-place-edit>
