<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="false" [nzWidth]="600" [nzVisible]="visible"
           nzTitle="{{isCreating() ? 'Dodaj ogłoszenie' : 'Edytuj ogłoszenie'}}"
           (nzOnClose)="close()">
  <form nz-form [formGroup]="validateForm">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Nazwa</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="name" placeholder="Proszę podać nazwę kategorii">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Aktywna</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="isActive"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Opis (opcjoanlnie)</nz-form-label>
          <nz-form-control>
            <textarea formControlName="description" nz-input placeholder="Proszę podać opis" rows="4"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Anuluj</span></button>
    <button nz-button nzType="primary" (click)="submit()"
            [nzLoading]="isButtonLoading">{{isCreating() ? 'Dodaj' : 'Zapisz'}}</button>
  </div>
</nz-drawer>
