<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>
    <i nz-icon type="home"></i>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="breadcrumbValued.length > 0">{{breadcrumbValued[0]}}</nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="breadcrumbValued.length > 1">{{breadcrumbValued[1]}}</nz-breadcrumb-item>
</nz-breadcrumb>
