<div style="margin-bottom: 10px">
  <button nz-button nzType="primary" (click)="editMeal.open()">Dodaj</button>
</div>
<nz-table #basicTable [nzData]="dataList">
  <thead>
  <tr>
    <th>Lp.</th>
    <th>Kategoria</th>
    <th>Od</th>
    <th>Do</th>
    <th>Akcja</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data; let i = index">
    <td>{{i + 1}}</td>
    <td>{{data.mealCategory.name}}</td>
    <td style="text-align: center;" *ngIf="data.ends == null" [attr.colspan]="2">{{data.date}}</td>
    <td *ngIf="data.ends != null">{{data.date}}</td>
    <td *ngIf="data.ends != null">{{data.ends}}</td>
    <td>
      <a (click)="editMeal.openEdit(data)">Zmień</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="editMeal.openCopy(data)">Kopiuj</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="removeElement(data.mealCategory.id, data.id)">Usuń</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<app-served-meal-edit #editMeal (refresh)="refreshList()"></app-served-meal-edit>
