<div style="margin-bottom: 10px">
  <app-announcement-edit-drawer #announcementDrawer (refresh)="refreshList()"></app-announcement-edit-drawer>
</div>
<nz-table #basicTable [nzData]="dataList">
  <thead>
  <tr>
    <th>Lp.</th>
    <th>Nazwa</th>
    <th>Treść</th>
    <th>Utworzono</th>
    <th>Akcja</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data; let i = index">
    <td>{{i + 1}}</td>
    <td>{{data.name}}</td>
    <td>{{data.description}}</td>
    <td>{{data.created | date: 'yy-dd-MM H:mm'}}</td>
    <td>
      <a (click)="announcementDrawer.openWithModel(data)">Zmień</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a nz-popconfirm nzTitle="Czy na pewno chcesz wypisać użytkownika?" nzOkText="Tak" nzCancelText="Anuluj"
         (nzOnConfirm)="removeAnnouncement(data.id)"
      >Usuń</a>
    </td>
  </tr>
  </tbody>
</nz-table>
