<div style="display: flex; margin-bottom: 10px">
  <div>
    Identyfikator miejsca: {{placeId}} <br>
    Kod dołączenia: {{joinCode}}<br>
  </div>
  <button nz-button nzType="default" (click)="changeCode()" style="margin-left: 10px">Wygeneruj nowy kod</button>
</div>
<nz-table #basicTable [nzData]="dataList">
  <thead>
  <tr>
    <th>Lp.</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Email</th>
    <th>Akcja</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data; let i = index">
    <td>{{i + 1}}</td>
    <td>{{data.firstName}}</td>
    <td>{{data.lastName}}</td>
    <td>{{data.email}}</td>
    <td>
      <a nz-popconfirm
         nzTitle="{{data.id == me.id ? 'Czy na pewno chcesz się wypisać z miejsca?' : 'Czy na pewno chcesz wypisać użytkownika?'}}"
         nzOkText="Tak"
         nzCancelText="Anuluj"
         (nzOnConfirm)="removeUserFromPlace(data.id)"
      >Usuń</a>
    </td>
  </tr>
  </tbody>
</nz-table>
